<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link href="../fontawesome/css/all.css" rel="stylesheet" />
    <script src="../js/script.js" defer></script>
    <title>ABICAP</title>

    <link rel="stylesheet" type="text/css" href="./css/richardCss.css">
    <style>
        body {
            background-color: #27408B;
        }
    </style>
</head>
<body class="body">

    <nav class="navbar fixed-top navbar-expand-lg" style="background-color: #191970;">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active text-light" aria-current="page" href="../index.html"><i class="fa-solid fa-car text-light"></i> ABICAP</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid text-white text-center py-3" style="margin-top: 55px; background-color: #3A5FCD;">
        <form action="" style="margin-left: 300px; margin-right: 300px; margin-top: 25px;">
            <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Usuário</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="usuario">
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Senha</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="senha">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            <a href="./cadastroUsuario.html" class="btn btn-secondary" tabindex="-1" role="button">Cadastrar</a>
        </form>
    </div>
</body>
</html>